body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";background: #f8f8f8;}
input,a{outline:none;}

$width:1190px;

//top

#top{
    width: 100%;
    
}
#top_banner{
    display: block;
    width: 100%;
    height: 45px;
    background: url(../img/27620180620T161859.jpg) no-repeat center;
}
#top_nav_wrap{
    width: 100%;
    background: #f4f4f6;
}
#top_nav{
    width:$width;
    height: 30px;
    background: #f4f4f6;
    margin: 0 auto;
    border-bottom: 1px solid #e3e3e5;
}
#nav_left{
    float: left;
}
#nav_left li{
    float: left;
    a{
        display: block;
        width: 98px;
        height: 30px; 
        background: #f9f9f9;  
        border-left: 1px solid #e3e3e5; 
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        position: relative;
        &:hover{
            color: red;
        }
    }
    &:nth-child(1)>a{
        background: white;
    }
}
#nav_left li:nth-child(2){
    position: relative;
}
#ewm img{
    display: block;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 31px;
    padding-left: 5px;
}
#ewm{
    display: none;
    width: 340px;
    height: 140px;
    background: white;
    display: block;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 31px;
}
#nav_left li:nth-of-type(3) a{
     border-right: 1px solid #e3e3e5;    
}
#nav_left li:nth-child(2) span{
    float: left;
    width: 8px;
    height: 13px;
    background:url(../img/sf-ico.png) no-repeat -152px -80px;   
    position: absolute;
    left:10px;
    top:9px;
}
#nav_left li:nth-child(2){
    text-indent: 21px;
}
#top_nav strong{
    float: right;
    width: 8px;
    height: 4px;
    margin:14px 10px 0 6px;
    background:url(../img/sf-ico.png) no-repeat -177px -63px;    
}
#nav_left li:nth-child(3) span{
    display: block;
    width:13px;
    height: 13px;
    background-image:url(../img/switch.png);   
    position: absolute;
    left:10px;
    top:9px;
}

#Android{
    background: url(../img/app-rqcode.jpg) no-repeat -106px -50px;
} 



#nav_right{
    float: right;
    li{
        display: block;
        box-sizing: border-box;
        float: left;
        a{
           display: block;
           font-size: 11px;          
           padding: 8px 10px;
           &:hover{
               color:red;
           }
        }
      strong{
            margin-top:8px ;
        }
    }
}
#nav_right>li:nth-child(1) a{
            margin-top: 8px;
            height: 14px;
            color: red;
            padding: 0;
            box-sizing: border-box;
            position: relative;
        }
#nav_right>li:nth-of-type(2)>a{
            margin-top: 8px;
            padding:0 20px 0;
            height: 14px;
            color: red;
            border-right: 1px solid #000;
            
        }
       
#shoucang{
    display: none;
    width: 90px;
    height: 32px;
    background: white;
    position: absolute;
    left:-1px;
}
#shoucang li a{ 
    display: block; 
    width: 92px;
    height: 32px;
    line-height: 32px;
    text-indent: 10px;
    background: white;
    position: absolute;
   
   padding: 0;      
    margin-top:0;
    color: #000000;
    border:1px solid #E3E3E5;
    border-top:none;
   
}
#top_nav li.hover{
   
   border:1px solid #E3E3E5;
   border-bottom: none;
   background: white;
   
}

li.change{
    position: relative;
}
#gonggao{
    display: none;
    width:130px;
    padding:5px;
    background: white;
    position: absolute;
    border:1px solid #E3E3E5;
    border-top:none;  
    right: -1px;
    top: 30px;
}
#gengduo{
    background: white;
    display: none;
    width:100px;
    padding:5px;
    position: absolute;
    border:1px solid #E3E3E5;
    border-top:none;  
    right:-1px;
    top: 30px;
}
#gengduo li{
    padding: 0;
}

#logo{
    width: $width;
    height: 89px;
    margin: 0 auto;
    padding: 22px 0 15px 0;
    //background: antiquewhite;
    
}
#logo>a{
    float: left;
    
}
#sousuo{
    width: 522px;
    float: left;
    margin: 21px 0 0 105px;
    form{
        height: 30px;
        width: 100%;
        border: 2px solid #000000;
        background: white;
        position: relative;
        input{
            width: 430px;
            height: 24px;
            padding-left: 5px;
        }
        #sousuo_1{
            
            float: right;
            width: 83px;
            height: 30px;
            background: url(../img/sf-ico.png) no-repeat  -115px -529px;
           
        }
        ul{
            display: none;
            width: 439px;
            border: 1px solid #4c2601;
            position: absolute;
            left: -2px;
            top:32px;
            background: white;
            padding: 0;
            z-index: 1; 
            li{
                display: block;
                width:436px;
                &:hover{
                    background:#78472b ;
                }
                 a{
                display: block;
                width:419px;
                line-height: 24px;
                font-size: 12px;
                padding: 0 10px;
                &:hover{
                    color: white;
                }
                
            }
          }
             
        }
        
    }
    ul{
        padding-top: 10px;
    }
    li{
        font-size: 11px;
        float: left;
        padding:0 2px 0;
        a:hover{
        color: red;
        } 
        
    }
    li:nth-of-type(6) a{
        color: red;
    }
}
#gwc{
    width: 148px;
    float: right;
    font-size: 11px;
    margin-top:20px ;
    #cart{
        width: 146px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        border: 1px solid #E3E3E5;
        cursor:pointer;
        span:nth-of-type(1){
                display: block;
                float: left;
                width: 22px;
                height: 18px;
                margin: 5px 0 0 10px;
                background: url(../img/sf-ico.png) no-repeat -92px -533px;
           }
           span:nth-of-type(2){
                display: block;
                float: right;
                width: 6px;
                height: 3px;
                margin: 14px 5px 0;
                background: url(../img/sf-ico.png) no-repeat -88px -552px;
           }
        strong{
            color: red;
        }
    }
    a{
        display: block;
        margin-top: 10px;
        color: red;
        text-align: center;
    }
}

//banner
#nav{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #000;
    ul{
        display: block;
        width: $width;
      
        margin:0 auto;
        
        li{
            float: left;
            a{
                font-size: 17px;
                padding: 0 13px 0;
                line-height: 40px;
                font-weight: 900;
                &:hover{
                    color: red;
                }
            }
           
        }
        li:nth-of-type(5) a{
            color: red;
        }
        li:nth-of-type(1){
            background: #000;
            a{
            display: block;
            width: 200px;
            height: 40px;
            padding: 0;
            background: url(../img/sf-ico.png) no-repeat 0 -612px;
        }
        } 
    }
}
#nav-right a{
    float: right;
    font-size: 17px;
    padding: 0 13px 0;
    line-height: 40px;
    font-weight: 900;
    &:hover{
         color: red;
    }
}
#banner_1{
    width: $width;
    height: 480px;
    margin: 0 auto;
}

//商品列表分类
#list{
    width: 198px;
    height: 411px;
    border: 1px solid #E3E3E5;
    float: left;
    background: rgb(245, 245, 245);
    position: relative;
    li.list_first{
        display: block;
        width: 178px;
        height: 44px;
        padding: 12px 10px;
        font-size: 12px;
    }
}
.list_title{
    width: 178px;
    height: 20px;
    border-bottom: 6px;
    color: #000;
    span.bgt{
        float: left;
        display: block;
        width: 26px;
        height: 20px;
        
    }
    a{ 
        line-height: 20px ;
        &:hover{text-decoration: underline}
    }
}
.list_shop{
    width: 153px;
    height: 20px;
    padding-left: 23px;
    line-height: 20px;
    font-size: 12px;
    color: #D1D3D4;
    a:hover{
        text-decoration: underline;
    }
}
span.nx{ 
    background: url(../img/list_bg.jpg) no-repeat 0px -26px;
}
span.bx{ 
    background: url(../img/list_bg.jpg) no-repeat 0px -2px;
}
span.yg{ 
    background: url(../img/list_bg.jpg) no-repeat 0px -208px;
}
span.hy{ 
    background: url(../img/list_bg.jpg) no-repeat 0px -182px;
}
span.tz{ 
    background: url(../img/list_bg.jpg) no-repeat 0px -156px;
}
span.xb{ 
    background: url(../img/list_bg.jpg) no-repeat 0px -130px;
}

.list_first ul{
    display: none;
    width: 148px;
    height: 478px;
    box-sizing: border-box;
    padding:10px ;
    border: 1px solid #d1d3d4;
    position: absolute;
    top:-1px;
    left: 198px;
    z-index: 1;
    background: #fff;
    li a{
        display: block;
        width: 60px;
        height: 30px;
        float:left;
        font-size: 12px;
        line-height: 30px;
        padding-left:3px; 
       &:hover{
           color: red;
       }
    }
}

li.list_hover{
    background: #666;
    
    .list_shop a{
        color: white;
    }
    .list_title a{
        color: white;
    }
    
}


#banner_a{
                width: 990px;
                height: 480px;
                overflow: hidden;
                
                position: relative;
                #_ul{               
                height: 480px;
                position: absolute;
                
            }
            #_ul li{
                float: left;
                list-style: none;
                height: 480px;
            }
            #ul li img{
                display: block;
                width: 990px;
                height: 480px;
                border:none;
                
            }
            #_ul1{
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
            #_ul1 li{
                list-style: none;
                width: 30px;
                height: 30px;
                background: white;
                color: red;
                border-radius: 50%;
                float: left;
                margin:0 10px;
                text-align: center;
                line-height:30px ;
                cursor: pointer;                
            }
            #_ul1 li:hover,#_ul1 li.hover{
                background: red;
                color: white;
            }
            .btn{
                position: absolute;
                width: 50px;
                height: 50px;
                background: antiquewhite;
                opacity: 0.5;
                font-size: 40px;
                text-align: center;
                line-height: 50px;
                top:50%;
                margin-top: -25px;
                cursor: pointer;
            }
            .last{
                left: 0;
            }
            .next{
                right: 0;
            }
       }


//main1
#main1{
    width: $width;
    height: 560px;
    margin: 0 auto;
    overflow: hidden;

    #main1_1{
        margin-top: 30px;
        width:100%;
        height: 36px;
        font-size: 17px;
        line-height: 36px;
        border-bottom: 3px solid #000;
        
        div:nth-child(1){
        float: left;
        span{
            color: #939598;
        }
    }
        div:nth-child(2){
            float: right;
            
        }
    }
    #main1_2{
        width: 100%;
        height:490px;
        background: white;
        border:1px #d1d3d4 solid;
        padding: 24px 0 20px 24px;
        box-sizing: border-box;
        ul.m1_2{
            float: left;
            li{
                float: left;
                margin-right: 22px;
            }
        }
        ul.main1_lunbo1{
            margin-top: 10px;
        }
        ul.main1_lunbo2{
            margin-top: 50px;
            padding-top: 20px;
        }
        ul.main1_lunbo1,ul.main1_lunbo2{
            float: left;
            width: 5000px;
            height: 40px;
            position: absolute;
            
            overflow: hidden;
            li{  
                display: block;             
                float: left;
                width: 110px;            
                height: 40px;               
                img{                   
                   display: block;
                   margin: 0 auto; 
                   margin-top:5px ;
                }
            }
        }
    }
}  
.main1_lb{
    float: left;
    width: 1120px;
    height: 125px;
    position: relative;
    overflow: hidden;
   span{
       display: block;
       width: 19px;
       height: 58px;
       position: absolute;
       z-index: 1;
   }
}
#main1_lb_1{
    cursor: pointer;
    left: 0;
    top:50px;  
    background: url(../img/brand_arrow_png8.png) no-repeat 0 -127px;
}
#main1_lb_2{
    cursor: pointer;
    right: 0;
    top:50px;   
  background: url(../img/brand_arrow_png8.png) no-repeat -41px -127px;
} 


//main2
#main2{
    width: $width;
   // height: 513px;
    margin: 0 auto;
    overflow: hidden;

    #main1_1{
        margin-top: 30px;
        width:100%;
        height: 32px;
        font-size: 17px;
        font-weight: 900;
        line-height: 32px;
        border-bottom: 3px solid #000;
        
        a{
            display: block;
            height: 32px;
            line-height: 32px;
            float: left;
        strong{
            padding-right: 5px;
            
            &:hover{
                color: red;
            }
        }
       
    }
        div>a{
            display: block;
            width: 116px;
            height: 32px;
            background: #000000;
            float: right;
            color: white;
            text-align: center;
            &:hover{
                color: red;
            }
        }
    }
    #main2_2{
        height: 478px;
        background: white;
        border:1px #d1d3d4 solid;
        box-sizing: border-box;
        padding:22px 24px 22px 12px ;
        #main2_left{
            float: left;
            padding-right:12px ;
            width: 200px;
            li{
                float: left;
                width: 100px ;
                height: 50px;
                margin-top: 20px;
                a{
                    display: block;
                    width: 85px;
                    height: 40px;
                    margin-top: 5px;
                    
                   
                }
            }
        }
        #main2_center{
            float: left;
        }
        #main2_right_1{
            float: right;
            border-bottom: 2px solid #000;
             a{
                float: left;
                
             }
        }
        

    }
}   

//main6
#main6{
    width: $width;
    margin: 0 auto;
    overflow: hidden;
    #main6_top{
        height: 34px;
        line-height: 34px;
        margin-top: 30px;
        width: 100%;
        border-bottom:3px solid #000 ;
    }
    #main6_bottom{
        
        height: 360px;
        background: white;
        border: 1px #d1d3d4 solid;
        border-top: none;
        overflow: hidden;
        position: relative;
        
        #main6_left{
            float: left;
            border-right:1px solid #939598;
            
            li{
                width: 212px;
                height: 40px;
                line-height: 40px;
                border-bottom:1px solid #939598; 
                padding:0 14px 0;
                box-sizing: border-box;
                span{
                    display: none;
                    float: right;
                }
                &.hover{
                    background: #000000;
                    color:white;
                    span{
                        display: block;
                    }
                }
            }
            
           
        }
        .main6_right{
            float: right;
            margin: 24px 0px 0 0;
            position: absolute;
            right:0;
            top:0;
            display: none;
            div{
                float: left;
                width: 230px;
                margin-right: 10px;
                a:nth-of-type(1){
                    display: block;
                    float: left;
                    
                   
                    img{
                        width: 228px;
                        height: 240px;
                        border:1px solid #939598;
                        border-bottom: none;
                    }
                    p{
                        height: 16px;
                        line-height: 16px;
                        background: pink;
                        color: white;
                        font-size: 11px;
                        text-indent: 5px;
                    }
                }
                a:nth-of-type(2){
                    display: block;
                    line-height: 20px;
                    float: left;
                    font-size: 11px;
                    text-indent:3px; 
                    &:hover{
                        color:red;
                    }
                }
                p{
                    font-weight: 900;
                    color:red;
                    span{
                        color: #939598;
                        font-weight: 100;
                        text-decoration: line-through;
                        padding-left: 5px;
                    }
                }
            }
            
            &.hover{
                display: block;
            }
            
        }
        
    }
}   
//dg_link
#dg_link{
    width: $width;
    height: 500px;
    background: white;
    margin:0 auto;
    margin-top:30px;
    border: 1px solid #E3E3E5;
    p{
        line-height:27px;
        border-bottom: 3px solid #000;
        text-indent: 5px;
    }
    #dg_link_1{
        margin: 0 auto;
        height: 245px;
        position: relative;
        #pre{
            display: block;
            width: 12px;
            height: 22px;
            position: absolute;
            left:10px;
            top:120px;
            background: url(../img/sf-ico.png) no-repeat 0 -71px;
        }
        #next{
            display: block;
            width: 12px;
            height: 22px;
            position: absolute;
            right: 10px;
            top: 120px;
            background: url(../img/sf-ico.png) no-repeat -12px -71px;
        } 
        #dg_link_1_box{
            width: 1081px;
            height: 225px;
            padding-top: 20px;
            margin: 0 auto;
            a{                
                float: left;
                width: 89px;
                height: 60px;
                border-top: 1px solid #eee;
                border-left: 1px solid #eee;    
                font-size: 12px;
                text-align: center;
                &:hover{
                    color: red;
                }
                img{
                    margin: 0 auto;
                }
                &:nth-of-type(12){
                    border-right:1px solid #eee; 
                }
                &:nth-of-type(24){
                    border-right:1px solid #eee; 
                    border-bottom:1px solid #eee; 
                }
                &:nth-of-type(35){
                    border-right:1px solid #eee; 
                }
            }
        }
    }
}
#dg_link_2{
    width: 1100px;
    margin: 0 auto;
    ul{
        float: left;
        border-bottom: 1px dashed #333;
        width: 540px;
        li{
            float: left;
            a{
                display: block;
                font-size: 14px;
                line-height: 22px;
                padding:10px;
                &:hover{
                    color: red;
                }
                
            }
            &:nth-of-type(1){
                   font-weight: 900;
                    
                }
            &:last-child{
                float: right;
            }
        }
        
    &:nth-of-type(2),&:nth-of-type(4){
        float: right;
    }
    }
}   

//links
#links{
    width: 100%;
    height: 170px;
    padding:10px 0;
    border-top: 1px solid #ececec;
    margin-top: 10px;
    background: #f4f4f4;
}
#links_top{
    width: $width;
    height: 48px;
    border: 1px solid #939598;
    margin: 0 auto;
    ul{
        padding: 7px 0 7px 85px;
    }
    li{
        float: left;
        height: 32px ;
        line-height: 32px;
        margin: 0 80px 0 20px;
        font-size: 18px;
        span{
            float: left;
            width: 32px;
            height: 32px;
            margin-right:10px ;
            
        }
        strong{
            color: red;
            font-weight: 100;
        }
        a:hover{
            color: red;
        }
        &:nth-of-type(1) span{
            background: url(../img/sf-ico.png) no-repeat 0 -38px;
        }
        &:nth-of-type(2) span{
            background: url(../img/sf-ico.png) no-repeat -34px -38px;
        }
        &:nth-of-type(3) span{
            background: url(../img/sf-ico.png) no-repeat -67px -38px;
        }
        &:nth-of-type(4) span{
            background: url(../img/sf-ico.png) no-repeat -102px -38px;
        }
    }
    
}
#links_bottom{
    width: $width;
    height: 113px;
    margin: 0 auto;
    padding-top: 8px;
    dl{
        float: left;
        font-size: 12px;
        width: 150px;
        dt{
            line-height: 25px;
            font-weight: 900;
            padding-left: 3px;
           
        }
        dd{
               
               a{
                   display: block;
                   line-height: 20px;
                   padding-left: 3px;
                   &:hover{color: red};
               }
           } 
        &:nth-of-type(6){
            width: 165px;
            dd:nth-of-type(1) span{
                display: block;
                float: left;
                width: 24px;
                height: 20px;
                padding-right:5px ;
                background: url(../img/newbase.png) no-repeat -317px -30px;
            }
            dd:nth-of-type(2),dd:nth-of-type(3){
                white-space: nowrap;
                span{
                    color: red;
                }
                
            }
        }  
    }
    img{
        margin-right: 30px;
        float: left;
    }
}
//footer
#footer_wrap{
    width: 100%;
    height: 106px;
    background: #000;
    
}
#footer{
    width: $width;
    height: 100%;
    margin: 0 auto;

    ul{
        height: 25px;
        float: right;
        font-size: 12px;
        line-height: 25px;
        li{
            float: left;
            padding-left: 5px ;
            a{
                color: white;
            }
        }
    }
    p{
        font-size: 12px;
        color: white;
        float: right;
        line-height: 25px;
        a{
            color: white;
        }
    }
}
#footer_1{
    float: right;
    padding-top: 4px;
    img{
        width:108px;
        height: 40px;       
        float: left;
        margin: 0 5px;
    }
}
#yougou{
     float: left;     
     margin-top:30px ;
  }